@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-800 font-roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

p {
  @apply text-base leading-relaxed;
}

.loader {
  @apply border-t-blue-600;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
